<!DOCTYPE html>
<html>
<head>
	<title>BlockChain E-Voting</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png"  href="/img/vote_text.png">
	<link rel="stylesheet" href="/css/bootstrap.css">
	    <style type="text/css">
	    	body{
			background: url('/img/bg.jpg');
			-webkit-background-size: cover;
	         -moz-background-size: cover;
	         -o-background-size: cover;
	         background-size: cover;
	    	}
	    </style>
</head>
<body>
	 <div class="container-fluid">
	 	<div class="row">
	 		<div class="col-lg-12 ">
	 			<img src="/img/vote_text.png" alt="BlockChain E-Voting" class="img-responsive">
	 		</div>
	 	</div>
	 	<div class="row">
	 		<div class="col-lg-6 col-sm-12 ">
	 			<h4 class="text-white elevation-5 m-5 p-5" style="letter-spacing: 2px;font-weight: 700;">BlockChain Based E-Voting System </h4>
	 		</div>
	 		<div class="col-lg-6 col-sm-12 text-center">
	 			<img src="/img/voting_image.png" alt="BlockChain E-Voting" class="img-responsive" style="height: 300px;">
	 		</div>
	 	</div>
	 	<div class="row mt-5 p-4">
	 		<div class="col-lg-6"></div>
	 		<div class="col-lg-6">
	 			<a href="/voterIndex" class="btn btn-md btn-danger float-right mr-1">Voter</a>
	 			<a href="/adminIndex" class="btn btn-md btn-danger float-right mr-1">Organizer</a>
	 		</div>
	 	</div>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript"  src="/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="/js/web3.min.js"></script>
<script type="text/javascript"  src="/js/truffle-contract.js"></script>
<script type="text/javascript"  src="/js/app.js"></script>
</html>