<!DOCTYPE html>
<html>
<head>
	<title>BlockChain E-Voting</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png"  href="/img/vote_text.png">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/fontawesome-free/css/all.min.css">
	    <style type="text/css">
	    	#login-bg{
			background: url('/img/bg.jpg');
			-webkit-background-size: cover;
	         -moz-background-size: cover;
	         -o-background-size: cover;
	         background-size: cover;
	    	}
	    </style>
</head>
<body class="hold-transition login-page elevation-5" id="login-bg">
 <div class="login-box" style="background-color: #cc8383; padding: 0px; margin: 0px; border-radius: 20px">
         <div class="login-logo p-0 mt-2">
            <a href="#" ><img src="/img/voting_image.png" alt="BlockChain E-Voting" style="width: 100px; height: 100px;" class="brand-image center img-fluid"
               ></a>
         </div>
         <!-- /.login-logo -->
         <div class="card">
            <div class="card-body login-card-body opacity-0.6" style="background: #cc8383;">
            	<p class="login-box-msg text-red font-weight-bolder">Voter Login</p>
              	<form action="/auth/voterLogin" method="POST">
                  <div class="input-group mb-3">
                     <input type="email" class="form-control" placeholder="Email" name="u_email" id="u_email" autocomplete="off" required="">
                     <div class="input-group-append">
                        <div class="input-group-text"> <span class="fas fa-envelope text-danger"></span> </div>
                     </div>
                  </div>
                  <div class="input-group mb-3">
                     <input type="password" class="form-control" placeholder="Password" name="u_password"  id="u_password" required="">
                     <div class="input-group-append">
                        <div class="input-group-text"> <span class="fas fa-lock text-danger"></span> </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12">
                        <button type="submit" class="btn btn-danger float-right">Login</button>
                        <a href="/voterRegister" style="float:left;color: red;text-decoration: underline;" class="text-md">Register</a>
                     </div>
                  </div>
                   	{{#if message }}
                  		<div class="alert alert-danger alert-dismissible text-xs mt-4">
                  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  			{{message}}</div>
                  	{{/if}}
              </form>
            </div>
         </div>
         <div class="row p-3">
          <div class="col-lg-12 text-center">
            <h6 class="text-white"> E-Voting System </h6>
          </div>
         </div>
      </div>
</body>
<script type="text/javascript"  src="/js/jquery.min.js"></script>
<script type="text/javascript"  src="/js/bootstrap.min.js"></script>
</html>